// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: 'Rubik', sans-serif;
$font-family-display: 'News Cycle', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$theme-colors: (
    'info': #0190bc,
    'danger': #ee215a,
);
