@import 'variables';
@import '~bootstrap/scss/bootstrap';

body {
    background: lighten(theme-color(info), 60%);
}

a {
    color: theme-color(info);
    &:hover {
        color: theme-color(danger);
    }
}

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.bg-white {
    background: white;
}

.home--logo {
    margin-bottom: 60px;
}

.home--tagline {
    margin-top: 60px;
    color: theme-color(info);
}

.page-title {
    font-size: 1.25rem;
    color: theme-color(info);
    padding-bottom: 0.5rem;
    font-weight: bold;
    margin-bottom: 3rem;
}

.resource-section {
    padding-bottom: 1rem;
    max-width: 36rem;
    
    &:first-child {

        padding-top: 1rem;
    
    }

    .section-title {
        font-size: 1.2rem;
        font-weight: bold;
    }

    .resource-list {
        list-style: none;

        .resource-title {
            font-size: 1rem;
            margin-top: 1rem;
            margin-bottom: .25rem;
            a {
                text-decoration: underline;
            }
        }

        ul {
            list-style: disc;
        }
    }
}