@import url('https://rsms.me/inter/inter.css');

@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'link';
@import 'btn';
@import 'bubbles';
@import 'flatpickr';

@import 'tailwindcss/utilities';
