
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

$voteict-blue: #0190bc;

body {
  background: lighten($voteict-blue, 60%);
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.bg-white {
  background: white;
}

.home--logo {
  margin-bottom: 60px;
}

.home--tagline {
  margin-top: 60px;
  color: $voteict-blue;
}